// font familiy    
$fontFamily: "Manrope", sans-serif;
$reallyLightFont:200;
$lightFont: 400;
$boldFont: 800;

// colors
$backgroundColor: #f0f0f0;
$prussianBlue: #0a2239;
$pacificBlue: #53A2BE;
$oceanBlue: #1D84B5;
$jetBlack: #132E32;
$lavenderGrey: #AAADC4;
$ultrasonicBlue: #5603AD;
$lightBlue: #9BBEC7;
$slateIndigo:#3B60E4;
$deepspaceBlue: #003559;
$cornflowerOcean: #006DAA;
$greyBlue: #B8D3DB;


// background gradient: background: #b8d3db;
// background: linear-gradient(0deg, rgba(184, 211, 219, 1) 0%, rgba(227, 227, 227, 1) 38%, rgba(228, 228, 228, 1) 50%, rgba(255, 255, 255, 1) 100%);