// font familiy    
$fontFamily: "Manrope", sans-serif;
$lightFont: 600;
$boldFont: 800;

// colors
$backgroundColor: #b7b7b8;
$prussianBlue: #0a2239;
$pacificBlue: #53A2BE;
$oceanBlue: #1D84B5;
$jetBlack: #132E32;