// font familiy    
$fontFamily: "Manrope", sans-serif;
$reallyLightFont:200;
$lightFont: 400;
$boldFont: 800;

// colors
$backgroundColor: #f0f0f0;
$prussianBlue: #0a2239;
$pacificBlue: #53A2BE;
$oceanBlue: #1D84B5;
$jetBlack: #132E32;