/* customise SweetAlert2 popups*/
@use "./variables.scss" as *;
@use "sass:color";

.swal2-popup {
  font-family: "Roboto", sans-serif;
  background: #f9f9f9;  
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.swal2-title {
  font-size: 1.5rem;
  color: #222;
  margin-bottom: 0.5rem;
}

.swal2-content {
  font-size: 1rem;
  color: #444; 
  margin-bottom: 1.5rem;
}

.swal2-popup-save {
  background-color: $backgroundColor;
  border: 2px solid #00acc1;
}

.swal2-title-save {
  color: $oceanBlue;
}

.swal2-confirm-save {
  background-color: $oceanBlue;
  color: white;
}

.swal2-popup-delete {
  background-color: $backgroundColor;
  border: 2px solid #f44336;
}

.swal2-title-delete {
  color: #c62828;
}

.swal2-confirm-delete {
  background-color: #f44336;
  color: white;
}
