@use "./variables.scss" as *;
@use "sass:color";

.dashboardHeader {
  display: flex;
  margin-top: 3rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  text-align: center;
  z-index: 10;
}

.dashboardHeader h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 5rem;
  color: $jetBlack;
  margin: 0;
  line-height: 1.1;
  font-size: clamp(2rem, 5vw, 5rem);
  word-break: break-word;
}

.waving-hand {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(14deg);
  }
  30% {
    transform: rotate(-8deg);
  }
  40% {
    transform: rotate(14deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  60% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
