@use "./variables.scss" as *;
@use "sass:color";

.dataTable {
  width: 100%;
  max-width: 84rem;
  max-height: 65vh;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 12px;
  overflow-y: auto;
  border-radius: 5px;
  padding: 0.5rem;
  padding-top: 1rem;

  table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      text-align: left;
      padding: 0.5rem;
      font-family: "Manrope", sans-serif;
      font-size: 16px;
      color: $jetBlack;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      text-transform: none;
    }

    th {
      font-weight: 800;
      background-color: rgba(0, 0, 0, 0.05);
    }

    tbody tr {
      transition: background 0.2s, transform 0.1s;
      cursor: pointer;
      border-radius: 5px;

      input {
        width: 100%;
        padding: 0.3rem 0.5rem;
        font-family: "Manrope", sans-serif;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;

        &:focus {
          outline: none;
          border-color: $pacificBlue;
          box-shadow: 0 0 4px $prussianBlue;
        }
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
        transform: scale(1.01);
      }

      .actions {
        gap: 0.3rem;
        align-items: center;
        justify-content: center;

        .actionIcon {
          display: inline-block;
          align-items: center;
          justify-content: center;
          padding: 0;
          background: none;
          border: none;
          cursor: pointer;
          transition: color 0.2s ease, transform 0.1s ease;
          font-size: 1.2rem;

          svg {
            width: 1.2rem;
            height: 1.2rem;
          }

          &:hover {
            transform: scale(1.1);
            color: #111;
          }
        }

        .editButton,
        .saveButton,
        .deleteButton {
          @extend .actionIcon;
          color: #6c757d;
        }

        
      }
    }

    .editing {
      background-color: rgba(0, 123, 255, 0.1);
      box-shadow: 3px 0 0 $prussianBlue inset;
      border-radius: 0;
      transition: background 0.2s, transform 0.1s, box-shadow 0.2s;

      &:hover {
        background-color: rgba(0, 123, 255, 0.2);
        transform: scale(1.01);
      }
    }
  }

  select {
    padding: 0.3rem 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    background-color: #fff;
    transition: border-color 0.2s, box-shadow 0.2s;
    text-transform: none;

    &:disabled {
      background-color: #f5f5f5;
      cursor: not-allowed;
    }

    &:focus {
      outline: none;
      border-color: $pacificBlue;
      box-shadow: 0 0 4px $prussianBlue;
      background-color: #fff;
    }
  }
}
