@use './variables.scss' as *;

body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  font-family: $fontFamily;
  -webkit-font-smoothing: antialiased;
  background-color: $backgroundColor;
  text-transform: capitalize;
  padding-left: 20rem;
}

h1 {
  display: flex;
  text-align: left;
  justify-content: flex-start;
  align-items:flex-start;
  font-weight: 800;
  font-size: 40px;
  font-weight: 700;
  color: $jetBlack;
  margin: 0;
  padding: 0;
}

p {
  font-size: 20px;
  font-weight: $reallyLightFont;
  color: $jetBlack;
}

.app {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.mainContent {
  flex: 1;
  padding: 2rem;
  transition: all 0.4s ease;
}

.mainContent.collapsed {
  padding-left: 1rem;
}



