@use './variables.scss' as *;

body {
  margin: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  font-family: $fontFamily;
  -webkit-font-smoothing: antialiased;
  background-color: $backgroundColor;
  text-transform: capitalize;
}

h1 {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: first baseline;
  font-weight: 800;
  font-size: 40px;
  font-weight: 700;
  color: #000000;
}
