@use "./variables.scss" as *;

body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  font-family: $fontFamily;
  -webkit-font-smoothing: antialiased;
  //   background: linear-gradient(
  //   180deg,
  //   #ffffff 10%,
  //   #5eb4e6 30%,
  //   #ffffff 100%
  // );
  background-color: $backgroundColor;

  text-transform: capitalize;
}

h1 {
  display: flex;
  text-align: left;
  justify-content: flex-start;
  align-items: flex-start;
  font-weight: 800;
  font-size: 40px;
  font-weight: 700;
  color: $jetBlack;
  margin: 0;
  padding: 0;
}

p {
  font-size: 20px;
  font-weight: $reallyLightFont;
  color: $jetBlack;
}

.app {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.mainContent {
  flex: 1;
  padding-top: 2rem;
  padding-left: 22rem;
  transition: all 0.5s ease;
}

.mainContent.collapsed {
  padding-left: 10rem;
}
