@use "./variables.scss" as *;

.searchBar {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 2rem;
}

.searchInputs {
  width: 100%;
  display: flex;
  position: relative;
  border-radius: 13px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 8px;
  height: 50px;
}

.searchInputs input {
  flex: 1;
  padding: 0 1rem;
  font-family: "Work Sans", sans-serif;
  font-size: 15px;
  border: none;
  outline: none;
  height: 100%;
  box-sizing: border-box;
}

.searchIcon {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $backgroundColor;
  cursor: pointer;

  svg {
    font-size: 24px;
    color: $jetBlack;
  }
}
