@use "./variables.scss" as *;
@use "./variables.scss" as *;

.searchBar {
  width: 100%;
  max-width: 85rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.searchInputs {
  display: flex;
  width: 100%;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.searchInputs input {
  flex: 1;
  padding: 0 1rem;
  padding-right: 3rem;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  height: 50px;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.searchIcon {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $backgroundColor;
  cursor: pointer;
}

.searchIcon svg {
  font-size: 24px;
  color: $jetBlack;
}

.dataResult {
  width: 100%;
  max-width: 84rem;
  max-height: 60vh;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 12px;
  overflow-y: auto;
  border-radius: 5px;
  padding: 0.5rem;
  padding-top: 1rem;

  table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      text-align: left;
      padding: 0.5rem;
      font-family: "Manrope", sans-serif;
      font-size: 16px;
      color: $jetBlack;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    th {
      font-weight: 800;
      background-color: rgba(0, 0, 0, 0.05);
    }

    tbody tr {
      transition: background 0.2s, transform 0.1s;
      cursor: pointer;
      border-radius: 5px;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
        transform: scale(1.01);
      }
    }
  }
}
