@use "./variables.scss" as *;
@use "sass:color";

.shiftsHeader {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-bottom: 0rem;
}

.shiftsHeader h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: $jetBlack;
  margin: 0;
  line-height: 1.2;
}

.shiftsHeader .caption {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 0.95rem;
  color: rgba(0, 0, 0, 0.6);
  margin: 0;
}