@use "./variables.scss" as *;
@use "sass:color";

.shiftsPage {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100vh;
}

.shiftsHeader {
  h1 {
    font-family: "Manrope", sans-serif;
    font-weight: 800;
    font-size: 2.5rem;
    color: $jetBlack;
    margin: 0;
    line-height: 1.2;
  }

  .caption {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 0.95rem;
    color: rgb(0, 0, 0);
    margin: 0;
  }
  .note {
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    font-size: 0.95rem;
    color: rgb(0, 0, 0);
    margin: 0;
  }
}

.shiftsContent {
  display: flex;
  flex: 1;
}

.leftPane {
  margin-top: 1.6rem;
  margin-right: 2rem;
  padding-left: 0rem;
  display: flex;
  flex-direction: column;
  width: 16.5%;

  .shiftsSearchBar {
    width: 100%;
    margin-bottom: 1rem;
  }

  .employeeSearchContainer {
    width: 100%;
    max-height: 100%;
  }

  .employeeList {
    background: white;
    border-radius: 10px;
    padding: 0.5rem;
    margin-top: 0.5rem;
    overflow-y: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    max-height: 45vh;
    flex: 1;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    .employeeListItem {
      padding: 0.5rem 0.7rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      cursor: pointer;
      transition: background 0.2s, transform 0.1s;
      font-family: "Manrope", sans-serif;
      color: $jetBlack;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 0.1rem;

      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
        transform: scale(1.01);
      }

      .empName {
        font-size: 16px;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 0;
      }
      .empID {
        font-size: 14px;
        font-weight: 300;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
}

.rightPane {
  flex: 1 1 70%;
  max-width: 75%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
  height: 120vh;

  .calendarContainer {
    flex: 0 0 auto;
    min-height: 70vh;
    background: #f9f9f9;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 12px;

    display: flex;
    flex-direction: column;

    .rbc-calendar {
      height: 100%;
    }
  }
}
