@use "./variables.scss" as *;
@use "sass:color";

.sidebar {
  background-color: $prussianBlue;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  padding: 2rem 1rem;
  width: 15rem;
  height: 100vh;
  gap: 2rem;
  transition: width 0.4s ease;

  .logoContainer,
  .profileContents,
  .contentsContainer ul li a span {
    transition: opacity 0.3s ease, width 0.3s ease;
  }

  .logoContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .logoIcon {
      font-size: 2rem;
      color: $pacificBlue;
    }

    .title {
      font-size: 1.2rem;
      color: $pacificBlue;
      white-space: nowrap;
      margin: 0;
    }
  }

  .burgerContainer {
    background-color: $pacificBlue;
    position: absolute;
    top: 6rem;
    right: -1.1rem;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    .burgerIcon {
      color: white;
      font-size: 1.35rem;
      cursor: pointer;
    }
  }

  .profileContainer {
    display: flex;
    align-items: center;
    gap: 1rem;

    .profileImage {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      object-fit: cover;
    }

    .profileContents {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
      width: 100%;

      p {
        margin: 0;
        color: $pacificBlue;
      }

      .name {
        font-weight: $boldFont;
      }

      .email {
        font-size: 0.75rem;
        font-style: italic;
      }
    }
  }

  .contentsContainer {
    flex: 1;
    overflow: hidden;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      li {
        width: 100%;
        border-radius: 0.5rem;
        transition: background-color 0.3s ease;

        &.active,
        &:hover {
          background-color: color.scale($prussianBlue, $lightness: 10%);
          a {
            font-weight: 800;
          }
        }

        .menuLink {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          padding: 0.5rem;
          text-decoration: none;
          color: $pacificBlue;
          width: 100%;

          .icon {
            font-size: 1.8rem;
          }

          span {
            white-space: nowrap;
            font-size: 1.1rem;
          }
        }
      }
    }
  }
}

.sidebar.active {
  width: 3rem;

  .title,
  .profileContents,
  .contentsContainer ul li a span {
    opacity: 0;
    width: 0;
  }

  .profileContainer {
    max-height: 3.5rem;
  }
}
