@use "./variables.scss" as *;
@use "sass:color";

.sidebar {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  padding: 2rem 1rem;
  width: 15rem;
  height: 100vh;
  gap: 2rem;
  transition: width 0.4s ease;

  .logoContainer, 
  .profileContents,
  .contentsContainer ul li a span {
    transition: opacity 0.3s ease, width 0.3s ease;
  }

  .logoContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.5rem;
    padding-bottom: 3rem;

    .logo {
      padding-left: 0.5rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .logoIcon {
        font-size: 2rem;
        color: $deepspaceBlue;
      }

      .title {
        font-size: 1.2rem;
        color: $deepspaceBlue;
        margin: 0;
        line-height: 1;
        white-space: nowrap;
        transition: all 0.1s ease;
;
      }
    }
  }

  .burgerContainer {
    background-color: $deepspaceBlue;
    position: absolute;
    top: 6rem;
    right: -1.1rem;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
    box-shadow: rgba(0, 0, 0, 0.25) 1px 3px 4px;
    transition: background-color 0.2s, transform 0.1s, box-shadow 0.2s;

    &:hover {
      background-color: color.scale($greyBlue, $lightness: 0%);
      transform: scale(1.05);
      box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 8px;
    }

    &:active {
      transform: scale(0.95);
      box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px inset;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 3px rgba($prussianBlue, 0.3);
    }

    .burgerIcon {
      color: white;
      font-size: 1.35rem;
      cursor: pointer;
    }

    &::after {
      content: "";
      position: absolute;
      right: 2.2rem;
      top: 1.09375rem;
      width: calc(15rem + 6rem);
      height: 1.5px;
      background-color: rgb(255, 255, 255);
      transition: width 0.5s ease;
      z-index: 0;
    }
  }

  .profileContainer {
    display: flex;
    align-items: center;
    gap: 1rem;

    .profileImage {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      object-fit: cover;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 8px;
    }

    .profileContents {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
      width: 100%;

      p {
        margin: 0;
        color: $deepspaceBlue;
        font-size: 17px;
      }

      .name {
        font-weight: $boldFont;
      }

      .role {
        font-size: 14px;
      }

      .email {
        font-size: 14px;
        font-style: italic;
      }
    }
  }

  .contentsContainer {
    flex: 1;
    overflow: hidden;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      li {
        width: 100%;
        border-radius: 10px;
        transition: background-color 0.3s ease;

        &.active,
        &:hover {
          background-color: color.scale($greyBlue, $lightness: 0%);
          a {
            font-weight: 800;
          }
        }

        .menuLink {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          padding: 0.5rem;
          text-decoration: none;
          color: $deepspaceBlue;
          width: 100%;

          .icon {
            font-size: 1.8rem;
          }

          span {
            white-space: nowrap;
            font-size: 1.1rem;
          }
        }
      }
    }
  }
}

.sidebar.active {
  width: 3rem;

  .title,
  .profileContents,
  .contentsContainer ul li a span {
    opacity: 0;
    width: 0;
  }

  .profileContainer {
    max-height: 3.5rem;
  }
  .burgerContainer::after {
    width: calc(3rem + 6rem);
    z-index: 0;
  }
}
