body {
  margin: 0;
  font-family: 'Manrope', 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: rgb(6, 107, 74);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}